.imagen-presentacion {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.title-wrapper {
  height: auto;
}

.title {
  font-size: 5rem;
  font-weight: 100;
}

.sub-title {
  font-size: 3.5vh;
  font-weight: 200;
}

.description {
  margin-top: 4rem;
}

.divImg {
	height: 35vw;
	width: 35vw;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
	width: 35%;
}

.feature-title {
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.feature-text {
  font-weight: 100;
}


@media (max-width: 576px) {

  .model-container{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .model {
    margin: 1rem auto 1rem auto;
  }

  .sub-title {
    font-size: 1rem;
  }

  .text {
		width:100%;
	}

	.divImg {
    width: 90vw;
    height: 90vw;
		// background-position: center;
	  // background-repeat: no-repeat;
	  // background-size: cover;
	}

	.headingMobile {
		font-size: 3rem;
  }
  
  .title-wrapper {
    padding: 5rem 2rem 3rem 2rem;
  }

}

@media (max-width: 320px) {

  .title {
    font-size: 2rem;
    font-weight: 100;
  }

  .sub-title {
    font-size: 1rem;
  }

  .imagen-presentacion {
    height: 70vh;
    height: calc(var(--vh, 1vh) * 70)
  }
  
}