  <div class="imagen-presentacion"
		[ngStyle]="{'background-image': 
		'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
		url(' + imgs[product.presentacion].url + ')'}
		">
		<div class="container title-wrapper pt-5 pb-5">
			<div class="title">{{ product.title }}</div>
			<p class="sub-title">{{ product.subText }}</p>
			<app-cta-buttons [primary]="true" [interest]="product.title" [buttonsStart]="true"></app-cta-buttons>
		</div>
	</div>

<div class="description container">

	<ng-container *ngIf="product.paragraphs.first">
		<div class="d-flex flex-column flex-md-row justify-content-md-around mb-5">
			<div class="divImg rounded" [ngStyle]="{'background-image': 'url(' + imgs[product.paragraphs.first.img].url + ')'}"></div>
			<div class="text align-self-center text-justify pt-3">
				<div class="feature-title">
						{{product.paragraphs.first.title}}
				</div>
				<div class="feature-text">
				{{ product.paragraphs.first.text }}
				</div>
			</div>
		</div>
	</ng-container>

	<ng-container *ngIf="product.paragraphs.second">
		<div class="d-flex flex-column flex-md-row justify-content-around mb-5">
			<div class="d-flex text flex-wrap align-content-center">
				<div class="feature-title">
						{{product.paragraphs.second.title}}
				</div>
				<div class="feature-text">
					{{ product.paragraphs.second.text }}
				</div>
			</div>
			<div class="divImg rounded" [ngStyle]="{'background-image': 'url(' + imgs[product.paragraphs.second.img].url + ')'}"></div>
		</div>
	</ng-container>

	<ng-container *ngIf="product.paragraphs.third">
		<div class="d-flex flex-column flex-md-row justify-content-around mb-5">
			<div class="divImg rounded order-2 order-md-1" [ngStyle]="{'background-image': 'url(' + imgs[product.paragraphs.third.img].url + ')'}"></div>
			<div class="d-flex text flex-wrap align-content-center order-1 order-md-2">
				<div class="feature-title">
						{{product.paragraphs.third.title}}
				</div>
				<div class="feature-text">
					{{ product.paragraphs.third.text }}
				</div>
			</div>
		</div>
	</ng-container>

	<ng-container *ngIf="product.paragraphs.forth">
		<div class="d-flex flex-column">
			<div class=" text-center mb-3 feature-title">
				{{product.paragraphs.forth.title}}
			</div>
			<div class="feature-text text-justify m-auto" style="width: 90%;">
				{{ product.paragraphs.forth.text}}
			</div>
		</div>
	</ng-container>
</div>

<app-blends *ngIf="product.colors"  [colors]="product.colors"></app-blends>
<app-applications [applications]="product.applications" ></app-applications>
