.imagen-presentacion {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.title-wrapper {
  height: auto;
}

.title {
  font-size: 5rem;
  font-weight: 100;
}

.sub-title {
  font-size: 3.5vh;
  font-size: calc(var(--vh, 1vh) * 3.5);
  font-weight: 200;
}

.model-container {
  flex-direction: row;
  flex-wrap: wrap;
}

.model {
  height: 21rem;
  width: 21rem;
  position: relative;
  margin: 1rem;
}

.background {
  // background-color: var(--green-dark);
  background-color: transparent;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.text-wrapper, .spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 1.8rem;
  color: transparent;
  height: 100%;
  width: 100%;
}

.spinner-wrapper {
  background-color: var(--green-dark);
}

.show-text {
  color: white;
}

.text-wrapper:hover {
  cursor: pointer;
}

.model:hover>div.background {
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.spinner {
  font-size: 3rem;
  color: black;
}

@media (max-width: 576px) {

  .model-container{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .model {
    margin: 1rem auto 1rem auto;
  }

  .sub-title {
    font-size: 1rem;
  }

  .title-wrapper {
    padding: 5rem 2rem 3rem 2rem;
  }

}

@media (max-width: 320px) {

  .title {
    font-size: 2rem;
    font-weight: 100;
  }

  .sub-title {
    font-size: 1rem;
  }

  .model {
    height: 15rem;
    width: 15rem;
  }

}
