  <div class="imagen-presentacion"
    [ngStyle]="{'background-image': '
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(' + product.presentacion + ')'}">
    <div class="container title-wrapper pt-5 pb-5">
      <div class="title">{{ product.name }}</div>
      <p class="sub-title">{{ product.text }}</p>
      <app-cta-buttons [primary]="true" [interest]="product.name" [buttonsStart]="true"></app-cta-buttons>
    </div>
  </div>

<div *ngIf="models"  class="jumbotron jumbotron-fluid mb-0 bg-white">
  <div class="container">
    <div class="d-flex model-container">

      <div *ngFor="let model of models" (click)="routeTo(model)">

        <div *ngIf="product.models[model].show" class="model">
          <!-- spinner -->
          <div class="spinner-wrapper d-flex align-items-center">
            <div class="text-center w-100 spinner">
              <fa-icon class="icons p-3" [icon]="spinner" [spin]="true"></fa-icon>
            </div>
          </div>
          <!--esconde el spinner una vez que se carga la imagen -->
          <img [src]="product.models[model].menuImg" [hidden]="true" (load)="lineText.className = 'text-wrapper d-flex align-items-center show-text'">
          <!-- imagen dentro del div -->
          <div class="background"
          [ngStyle]="{'background-image': 'url(' + product.models[model].menuImg + ')'}">
          </div>
          <!-- texto -->
          <div #lineText class="text-wrapper d-flex align-items-center">
            <div class="text-center w-100 prod-name"> {{ product.models[model].name }} </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-blends *ngIf="product.colors"  [colors]="product.colors"></app-blends>
<app-dim *ngIf="product.dim"  [dim]="product.dim" [thikness]="product.thickness"></app-dim>
<app-applications [applications]="product.applications" ></app-applications>
