<div class="contenedor">

    <div class="project-header-wrapper">
      <div class="featured" [ngStyle]="{'background-image': 'url(' + data.featured + ')'}"></div>
      <div class="title-wrapper jumbotron mb-0 bg-transparent">
        <div class="container">
          <!-- <div class="title-img">Nosotros</div> -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
          <h1 class="title">¿Que es el terrazzo?</h1>
            <p>
              Las raíces del terrazzo se remontan a Venecia del siglo XV. Artesanos de aquella época utilizaban para su fabricación materiales de descarte de la construcción de palacios, catedrales y diversos edificios.
            </p>
            <p>
              En sus orígenes, el terrazzo se componía simplemente de una base arcillosa sobre la que se vertían cascotes y guijarros de mármol. Posteriormente estos guijarros se pulieron para conseguir un pavimento más confortable. Finalmente, los trabajadores descubrieron que vertiendo leche de cabra, incluso una vez seca, el aspecto del suelo adquiría un aspecto similar al del mármol​ por lo que empezaron a usarlo como sellante.
            </p>
        </div>
        <div class="container">
          <h1 class="title">Nuestra historia</h1>
          <div>
          </div>
            <p>
              Martín Quadri fueron los primeros integrantes de la familia en emigrar desde Lugano, Suiza. Llegaron al puerto de Buenos Aires en 1861. En Lugano, los Quadri se habían dedicado por muchas generaciones a la produccion del terrazzo. Inspirado en la artesanía desarrollada por sus ancestros durante siglos, comenzó a hacer baldosas de tierra romana (cemento) mezclada con arena, mármoles y granitos. A través de sucesivas operaciones, logró desarrollar un sistema con moldes y obtener las primeras baldosas de terrazzo cementícias. Hacia 1873 los Quadri bautizan sus baldosas de terrazzo como “Mosaicos”.
            </p>
            <p>
               Eugenio, fue el tercero de los hijos de Martín. Según la ley suiza del momento y según tradiciones familiares, la empresa de Martín, junto con todo su patrimonio correspondía al primogenito. Inicialmente Eugenio comenzó trabajando para Martín JR, su hermano. Martín, padre había decidio retornar a Europa. En 1906, sin embargo, Eugenio P. Quadri, se independiza y comienza su propio emprendimiento en la fabricación de mosaicos. Bautiza a su emprendimiento “La Esperanza”, que con el correr de los años se hizo conocer simplemente como Quadri.
            </p>
            <p>
              A partir de la década del ’60, Quadri comienza la modernización de su planta industrial, con automatismos y nuevas maquinarias importadas de Europa. En la década del ’90 tiene lugar una segunda etapa de inversiones, donde la empresa moderniza las instalaciones y adquiere nueva maquinaria.
              Hoy después de sucesivas mejoras en su planta productiva y tras más de 150 años, la empresa continúa con sus actividades. Siempre bajo la dirección de las distintas generaciones de los Quadri. Artesanos entonces, profesionales hoy.
            </p>
        </div>
      </div>
    </div>
</div>