<div class="jumbotron jumbotron-fluid m-0 trust-wrapper">
  <div class="container">
    <!-- <div class="text-center title">
      ¿ Por qué terrazzo ?  ¿ Por qué Quadri ?
    </div> -->
    <div class="row">
      <div class=" items col-md-3 col-sm-12 d-flex flex-column align-items-center">
        <div>
          <fa-icon class="icons p-3" [icon]="lightbulb"></fa-icon>
        </div>
        <div class="align-self-center px-2 sub-title text-center">Singular</div>
        <div class="text-center text">
          Pisos y revestimientos distintos, orginales, que permiten alcanzar un nivel de customización únicos. Cualquier idea, cualquier vision puede hacerse realidad.
        </div>
      </div>
      <div class="items col-md-3 col-sm-12 d-flex flex-column align-items-center">
        <div>
          <fa-icon class="icons p-3" [icon]="link"></fa-icon>
        </div>
        <div class="align-self-center px-2 sub-title text-center">Eterno</div>
        <div class="text-center text">
          Terrazzo es un material diseñado para resistir el paso del tiempo. No solo tiene alta resistencia al desgaste. Además, permite ser reciclado con un simple pulido.
        </div>
      </div>
      <div class="items col-md-3 col-sm-12 d-flex flex-column align-items-center">
        <div>
          <fa-icon class="icons p-3" [icon]="check"></fa-icon>
        </div>
        <div class="align-self-center px-2 sub-title text-center">Calidad</div>
        <div class="text-center text" >
          Con fanatica dedicación fabricamos todos nuestos productos y supervisamos nuestras materias primas
        </div>
      </div>
      <div class="items col-md-3 col-sm-12 d-flex flex-column align-items-center">
        <div>
          <fa-icon class="icons p-3" [icon]="hands"></fa-icon>
        </div>
        <div class="align-self-center px-2 sub-title text-center">Experiencia</div>
        <div class="text-center text" >
          Desde 1861, podes confiar en nosotros, estamos hace mucho y planeamos seguir mucho más!
        </div>
      </div>
    </div>
  </div>
</div>
