.trust-wrapper {
  background-color: var(--grey-light);
  color: white;
  padding-bottom: 0px;
}

.items{
  padding: 3rem;
}

.icons {
  font-size: 6rem;
}

.sub-title {
  font-size: 1.5rem;
}

.text {
  font-size: 1.2rem;
  font-weight: 100;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title {
  font-size: 2rem;
  font-weight: 100;
}

@media (max-width : 415px) {

  .trust-wrapper {
    padding-bottom: 1rem;
  }

  .items{
    padding: 0rem 3rem 0rem 3rem;
  }

  .text {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .icons {
    font-size: 4rem;
  }
}

@media (max-width: 320px) {

  .text {
    font-size: 1rem;
  }

}