<div class="jumbotron jumbotron-fluid m-0 bg-transparent">
  <div class="container">
    <div class="text-center title">
      ¿Donde empezar?
    </div>

    <div class="row">
      <div class=" item-wrapper col-md-4 col-sm-12 d-flex flex-column align-items-center" *ngFor="let step of data.text; let i = index">
        <div class="align-self-center rounded-circle number text-center"> {{ i + 1}} </div>
        <div class="text-center text">
          {{ step }}
        </div>
      </div>
    </div>
    <div class="buttons">
      <app-cta-buttons [changeTheme]="true" [primary]="true" 
       [sText]="'Guia productos'" (sec)="router.navigate(['/menu-productos'])"
      [secondary]="true"
      ></app-cta-buttons>
    </div>
  </div>
</div>
