<div class="apps container-fluid">
    
    <div class="row">

      <div class="col-md col-sm-12 p-0 application" (click) = "goTo('/productos/durella')" >
        <div class="spinner-wrapper d-flex flex-column justify-content-center w-100">
          <div class="text-center w-100 spinner">
            <fa-icon class="icons p-3" [icon]="spinner" [spin]="true"></fa-icon>
          </div>
        </div>
        <img [src]="appMenu.pisosInt.img" [hidden]="true" (load)="appTextPI.hidden = false">
        <div [ngStyle]="{'background-image': 'url(' + appMenu.pisosInt.img + ')'}"
        class="custom"></div>
        <div #appTextPI class="flex-column justify-content-center w-100 appText" [hidden]="true">
          <div class="appNames text-center p-2 align-self-center">
            <div class="text">{{ appMenu.pisosInt.text }}</div>
            <div class="sub-text">{{ appMenu.pisosInt.subText }}</div>
          </div>
        </div>
      </div>

      <div class="col-md col-sm-12 p-0 application" (click) = "goTo('/productos/custom')" >
        <div class="spinner-wrapper d-flex flex-column justify-content-center w-100">
          <div class="text-center w-100 spinner">
            <fa-icon class="icons p-3" [icon]="spinner" [spin]="true"></fa-icon>
          </div>
        </div>
        <img [src]="appMenu.custom.img" [hidden]="true" (load)="rev.hidden = false">
        <div [ngStyle]="{'background-image': 'url(' + appMenu.custom.img + ')'}"
        class="custom"></div>
        <div #rev class="flex-column justify-content-center w-100 appText" [hidden]="true">
          <div class="appNames text-center p-2 align-self-center">
            <div class="text">{{ appMenu.custom.text }}</div>
            <div class="sub-text">{{ appMenu.custom.subText }}</div>
          </div>
        </div>
      </div>

      <div class="col-md col-sm-12 p-0 application" (click) = "goTo('/objetos')" >
        <div class="spinner-wrapper d-flex flex-column justify-content-center w-100">
          <div class="text-center w-100 spinner">
            <fa-icon class="icons p-3" [icon]="spinner" [spin]="true"></fa-icon>
          </div>
        </div>
        <img [src]="appMenu.objetos.img" [hidden]="true" (load)="objetos.hidden = false">

        <div [ngStyle]="{'background-image': 'url(' + appMenu.objetos.img + ')'}"
        class="custom"></div>
        <div #objetos class="flex-column justify-content-center w-100 appText" [hidden]="true">
          <div class="appNames text-center p-2 align-self-center">
            <div class="text">{{ appMenu.objetos.text }}</div>
            <div class="sub-text">{{ appMenu.objetos.subText }}</div>
          </div>
        </div>
      </div>

      <div class="col-md col-sm-12 p-0 application" (click) = "goTo('/productos/losetas')" >
        <div class="spinner-wrapper d-flex flex-column justify-content-center w-100">
          <div class="text-center w-100 spinner">
            <fa-icon class="icons p-3" [icon]="spinner" [spin]="true"></fa-icon>
          </div>
        </div>
        <img [src]="appMenu.pisosExt.img" [hidden]="true" (load)="appTextPE.hidden = false">
        <div [ngStyle]="{'background-image': 'url(' + appMenu.pisosExt.img + ')'}"
        class="custom"></div>
        <div #appTextPE class="flex-column justify-content-center w-100 appText" [hidden]="true">
          <div class="appNames text-center p-2">
            <div class="text">{{ appMenu.pisosExt.text }}</div>
            <div class="sub-text">{{ appMenu.pisosExt.subText }}</div>
          </div>
        </div>
      </div>

    </div>

  </div>

<app-steps></app-steps>
<app-trust-quadri></app-trust-quadri>
