<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="text-center title">
        {{ data.title }}
      </div>
      <div class="text">
        <div *ngFor="let p of data.text" class="p">{{ p }}</div>
      </div>
      <div class="botones">
        <button type="button" class="btn btn-lg botonComprar" [routerLink]="['/productos']" >Comprar</button>
        <button type="button" class="ml-2 btn btn-lg btn-outline-secondary botonConocer" [routerLink]="['/nosotros']">Conocer mas</button>
      </div>
    </div>
</div>
